:root {
    --mainColor: #127A93;
    --color1: #0C5C97;
    --subColor: #FAD509;
    --paragraphSize: 18px;
    --fontFamily: 'Poppins', sans-serif;
    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  } 
.services-1 .banner{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(44, 47, 50, 0.7), rgb(50, 48, 44, .7)),url(./slide-02.jpg);
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}
.services-1 .cont{
    width:100%;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding:0 20px !important;
}
.services-1 .banner .textbox{
    margin-top: 150px;
}
.services-1 .banner h1{
    font-size: var(--h1);
    color: white;
} 
.services-1 .banner .p2{
    font-size: var(--simpleT);
    font-weight: 500;
    margin-top: 20px;
}
.services-1 .banner button{
    font-size:var(--smallT);
    padding: 8px 20px;
    background-color: var(--mainColor);
    border: none;
    border-radius: 50px;
    color: white;
}
.services-1 .banner li{
    display: flex;
    align-items: center;
    height: auto;
    width: max-content;
}
.services-1 .banner .playbtn{
    font-size: 40px;
    margin-left: 20px;
    color: var(--subColor);
}
.services-1{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #FFFFFF;
}
.services-1 .left{
    height: max-content;
    width: 40%;
    padding:15px;
}
.services-1 h1{
    font-size:var(--h1);
    font-weight: bold;
    color: #495057;
}
.services-1  .left p{
    margin-top: 30px;
    font-size: var(--simpleT);
    color: #495057;
}
.services-1  .left h1{
    font-size:var(--h1);
}
.services-1 .left button{
    background-color: var(--mainColor);
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 25px;
    font-size:var(--smallT);
}
.services-1 .right{
    height: auto;
    width: 60%;
    padding: 30px 0 30px 30px;
}

.services-1 .right .box{
    width: 95%;
    padding: 15px;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}
.services-1 .right .padd{
    padding: 10px;
}
.services-1 img{
    width: 100%;
}
.services-1 .right li{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.services-1 .right .p-1{
    font-size: 13px;
    background-color: rgb(235, 235, 235);
    width: max-content;
    border-radius: 5px;
    color: rgb(98, 98, 98);
}
.services-1 .right h3{
    font-weight: bold;
    font-size: 20px;
    color: #505050;
}
.services-1 .right p{
    font-size: 18px;
    font-weight: bold;
}
.services-1 .right span{
    font-size: 14px;
    color: #565656;
}
.services-1 .right .icon{
    font-size: 25px;
    color: rgb(64, 64, 64);
}
.services-1 .crousee{
    padding: 20px 0 !important;
}
.services-1 .container-2{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    flex-wrap: wrap;
}
.services-1 .container-2 .box-1{
    height: auto;
    width: calc(25% - 20px);
    padding: 20px;
    border-radius: 20px;
    margin-top: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.services-1 .container-2 .icn-2{
    font-size: 25px;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    border-radius: 50%;
    background-color:#FAA176;
}
.services-1 .container-2 .icn-3{
    background-color: #F774AA;
}
.services-1 .container-2 .icn-4{
    background-color: #B47CF7;
}
.services-1 .container-2 .icn-5{
    background-color: #fca49c;
    
}
.services-1 .container-2 .icn-6{
    background-color: #6fc2a9;
}
.services-1 .container-2 .icn-7{
    background-color: #E27D5F;
}
.services-1 .container-2 .icn-6{
    background-color: #85CDCA;  
}
.services-1 .container-2 .icn-7{
    background-color: #C38D9D; 
}
.services-1 .container-2 .icn-8{
    background-color: #F04A1E;
}
.services-1 .container-2 .icn-9{
    background-color: #004E74;
}
.services-1 .line{
    height: 2px;
    width: 80px;
    background-color: #FAA176;
}
.services-1 .line2{
    background-color: #F774AA;
}
.services-1 .line3{
    background-color: #B47CF7;
}
.services-1 .line4{
    background-color: #fca49c;
}
.services-1 .line5{
    background-color: #6fc2a9;
}
.services-1 .line6{
    background-color: #C38D9D; 
}
.services-1 .line7{
    background-color: #F04A1E;
}
.services-1 .line8{
    background-color: #004E74;
}
.services-1 .container-2 .box-1 h1{
    font-size: var(--subheading);
    margin-top: 10px;
    color: rgb(58, 58, 78);
}
.services-1 .container-2 ul{
    margin: 0;
    padding: 0;
    font-size:var(--xsmallT);
}
.services-1 .container-2 li{
    margin-top: 10px;
}
.services-1  .lern{
    margin: 20px 10px;
    font-size: var(--smallT);
    width: max-content;
    padding-bottom: 3px ;   
    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgb(27, 117, 166);
}
.services-1  .lern2{
    border-bottom: 2px solid #F774AA;
}
.services-1  .lern3{
    border-bottom: 2px solid #B47CF7;
}
.services-1  .lern4{
    border-bottom: 2px solid #fca49c;;
}
.services-1  .lern5{
    border-bottom: 2px solid #6fc2a9;
}
.services-1  .lern6{
    border-bottom: 2px solid #C38D9D;
}
.services-1  .lern7{
    border-bottom: 2px solid #F04A1E;;
}
.services-1  .lern8{
    border-bottom: 2px solid #004E74;
} 

@media screen and (max-width:1075px){
    .services-1 .left{
        width: 50%;
    }
    .services-1 .right .box{
        width: 95%;
    }
    .services-1 .left h1{
        font-size: 40px
    }
    .services-1 .right{
        width: 50%;
        padding-left: 10px 5px;
    }
  }  
  @media screen and (max-width:1000px) {
    .services-1 .left{
        width: 100%;
    }
    .services-1 .right{
        width: 100%;
        padding: 0;
        margin-top: 30px;
    }
    .services-1 .container-2 {
        padding: 20px 15px;
    }
    .services-1 .container-2 .box-1{
        width: calc(33.33% - 10px);
    }
    
    
}
@media screen and (max-width:850px){
    .services-1 .crousee{
        padding: 0 !important;
    }
    .services-1 .rec-arrow-right{
        display: none;
    }
    .services-1 .rec-arrow-left{
        display: none;
    }  
}
@media screen and (max-width:750px) {
    .services-1{
        padding: 30px 0;
    }
    .services-1 .container-2 .box-1{
        width: calc(50% - 10px);
    }
}
@media screen and (max-width:500px){
    .services-1 .container-2 .box-1{
        width: 100%;
    }
    .services-1 .banner{
        height: 70vh;
        text-align: center;
        padding: 10px;
    }
    .services-1 .banner h1{ 
        font-size: 30px;
    }
    .services-1 .banner li{
        margin:auto;
    }
    .services-1 .banner .p2{
        margin-top: 10px;
    }

    .services-1 .cont {
        padding: 20px 0px !important;
    }
}
@media screen and (max-width:360px) {
    .services-1  .left h1{
        font-size:30px !important;
    }
    
}