.project{
   height: auto;
    width: 100%;
}
.project .contianer{
    height: auto;
    width: 100%;
    background-color: #FFFFFF;
    text-align: center;
    padding: 100px 50px 80px 50px ;
}
.project .contianer .h1{
    font-size: 35px;
    font-weight:bold;
    color: rgb(51, 51, 51);
}
.project .contianer .h2{
    font-size:var(--h1);
    font-weight:bold;
    color:rgba(0, 0, 0, 0.697);
    border-bottom: 2px solid var(--subColor);
    width: max-content;
    margin: 40px  auto 0 ;
}

.project .contianer p{
    font-size:var(--simpleT);
    margin-top: 15px;
}

.project .website{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    flex-wrap: wrap;
}
.project .website .left{
    height: max-content;
    width: calc(50% - 20px);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;    border-radius:10px;
    overflow: hidden;
    position: sticky;
    top: 150px;
}
.project .website img{
    width: 100%;
    margin: 15px 0;
}
.project .website .right{
    width: calc(50% - 20px);
    height: auto;
    padding: 0 10px;
}
.project .right img{
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}
.project  .btn-div{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.project .btn-div button{
    padding: 4px 15px;
    border: 1px solid grey;
    border-radius: 50px;
    margin: 0 10px;
    font-size: var(--smallT);
    /* box-shadow: 2px 2px 3px 1px var(--mainColor); */
    margin-top: 10px;  
}
 @media screen and (max-width:800px) {
    .project .contianer{
        padding:100px 15px 15px ;
        }
    .project .website .left, .project .website .right{
        width: 100%;
    }
    .project .website .left{
        position: relative;
        top: 0;
    }
    .project .contianer .h2{
        font-size: 30px;
    }
    .project .website .right{
        height: 65vh;
        overflow-y: scroll;
    }
    .project .website{
        margin-top: 20px;
    }
 }