.platforms{
    height: auto;
    width: 100%;
    background-color: var(--background);
    padding: 30px 100px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    
 }
 .platforms .cont{
     height: auto;
     width: 100%;
     display: flex;
     justify-content: space-between;
     margin-top: 20px;
     flex-wrap: wrap;
     align-items: center;
 }
 .platforms .p-1{
    margin-top: 20px;
    font-size:var(--simpleT);
    color: rgb(24, 24, 24); 
}
.platforms h1{
     font-size: var(--h1);
     color: rgb(48, 47, 47);
     /* font-weight:bolder; */
 }
 .indsH{
    color:var(--mainColor) !important;
}
 .platforms .left, .platforms .right{
    height: auto;
    width: calc(35% - 20px);
 }
 .platforms .box1{
     background-color:#FBFBFB;
     text-align: right;
     padding: 20px 20px;
     height: max-content;
     border-radius: 10px;
     margin-top: 30px;
     box-shadow:1px  0px 8px 24px ;
     box-shadow: 5px 4px 10px 3px rgb(200, 214, 214);
 }
 .platforms .center img{
     width: 100%;
 }
 .platforms .box1 img{
     width: 180px;
 }
 .platforms .box2{
     text-align: left;
 }
 .platforms .box1 p{
     font-size: var(--simpleT);
     margin-top: 5px;
 }
 .platforms .center{
     height: auto;
     width: calc(25% - 20px);
 
 }
 @media screen and (max-width:1150px) {
    .platforms .box1{
        background-color:#FBFBFB;
        text-align: right;
        padding: 15px 15px;
        margin-top:10px;
    }
 }
 @media screen and (max-width:1000px) {
    .platforms .center{
        display: none;
    }
    .platforms .left, .platforms .right{
        width: calc(50% - 10px);
    }
    .platforms .box1{
        height: 140px;
    }
}
@media screen and (max-width:750px) {
    .platforms .left, .platforms .right{
        width: 100%;
        padding: 0 30px;
    }
    .platforms img{
        margin: 0;
    }
    .platforms .box1{
        text-align: left;
        margin: 10px;
        padding: 15px;
        height: auto;
    }
    .platforms h1{
        font: 30px;
    }
}
@media screen and (max-width:450px) {
    .platforms .left, .platforms .right{
        padding: 0;
    }
    .award{
        padding: 20px 10px;
    }
    .platforms{
        padding: 20px 0px !important;
    }
}
@media screen and (max-width:600px) {
    .platforms h1{
        font-size: 30px;
    }
}

