.aboutus-main{
    width:100%;
    height:max-content;
    background-image: linear-gradient(rgba(44, 47, 50, 0.7), rgb(50, 48, 44, .7)),url("../services/slide-02.jpg");
    background-position:top;
    background-size:cover;
    background-repeat:no-repeat;
    padding:1px;
    box-sizing: border-box;
    display:flex;
    justify-content:center;
    align-items:center;
    padding-bottom:70px;
    justify-content:space-around;
}
.aboutus-main .text{
    width:40%;
    height:auto;
    font-family:var(--fontFamily);
    margin-top:100px;
    padding:30px;
}
.aboutus-main .text h1{
    color:white;
    font-weight:bold;
    font-size:var(--h1);
}
.aboutus-main .text h2{
    color:#FAD509;
    font-size:30px;
    font-weight:bold;

}
.aboutus-main .text p{
    color:rgb(214, 213, 213);
    line-height: 26px;
    font-size:var(--paragraphSize);
    letter-spacing:1px;
    margin-top:20px;
    font-size:var(--simpleT);
}
.aboutus-main .text .btn-box{
    width:auto;
    height:auto;
    margin-top:50px;
}
.aboutus-main .video-box{
    width:40%;
    height:max-content;
    font-family:var(--fontFamily);
    margin-top:130px ;
    display:flex;
    justify-content:center;
    align-items:center;
}
.aboutus-main .video-box .play-box{
    width:90%;
    /* height:auto; */
    border-radius:35px;
    overflow:hidden;
    box-shadow: rgba(239, 238, 238, 0.486) -1px 1px 4px 2px;
    position: relative;
    /* border: 1px solid yellow; */
}
.play-box img{
    width:100%;
    /* height:100%; */
    border-radius:28px;
}
.play-box .playbtn{
    font-size:60px;
    /* border: 1px solid yellow; */
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: var(--subColor);
}
.btnn{
    font-size: var(--smallT);
    padding: 8px 20px;
    background-color: var(--mainColor);
    border: none;
    border-radius: 50px;
    color: white;
}
@media screen and (max-width:1075px) {

    .aboutus-main .text{
        width:50%;
        padding:30px 20px;
    }
}
@media screen and (max-width:1009px) {
    .aboutus-main{
        display:flex;
        flex-wrap: wrap;
    }
    .aboutus-main .text{
        width:100%;
        padding:30px 30px;
    }
    .aboutus-main .video-box{
        width:100%;
        margin:0;
    }
    .aboutus-main .video-box .play-box{
        width:80%;
        height:90%;
    }
}
  