
.about_engangment{
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    padding: 40px 0;
    background-color: var(--background);
    color: rgb(234, 234, 234);
}
.about_engangment img{
    width: 100%;
}
.about_engangment .img1{
    border-radius: 5px 80px;
    width: 70%;
    box-shadow: 5px 4px 10px 3px rgb(200, 214, 214);
   background-color: rgb(232, 221, 221);
}
.about_engangment .left{
    height: auto;
    width: 50%;
    position: relative;
}
.about_engangment .left .box-1{
    height: 13%;
    padding-left: 10px;
    width: 40%;
    position: absolute;
    right: 30px;
    top: 18%;
    border-radius: 20px 5px;
    display: flex;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: rgb(249, 248, 248);
}
.about_engangment .left .box2{
    margin-top: 25%;
    width: 47%;
}
.about_engangment .left .box3{
    margin-top: 50%;
    width: 50%;
}
.about_engangment .left ul{
    display: flex;
    align-items: center;
}
.about_engangment .left ul img{
    width: 50px;
}
.about_engangment .right{
    height: 95vh;
    width: 45%;
    overflow-Y: scroll;
    padding: 30px;
}
.about_engangment .left p{
    font-size: 18px;
    font-weight: 600;
    color: #202252;
    margin-left: 15px;
    line-height:  1em;
    margin: 0;
}
.about_engangment .right h1{
    color: #202252;
    font-size: 40;
}
.about_engangment span{
    color:  rgb(245, 69, 69);
}
.about_engangment .right ul{
    display: flex;
    margin-top: 10px;
    padding: 0;
}
.about_engangment ul li{
    margin-right: 15px;
    color: rgb(37, 37, 37);
}
.about_engangment .p1{
    margin:30px 0 50px 0;
    color: rgb(35, 35, 35);
}
.about_engangment .p2{
    color: rgb(17, 17, 85);
    font-size: 20px;

}
.about_engangment .logo{
    width: 30px;
    height: auto;

}
.about_engangment .box-1 ul{
    padding: 0 !important;
    margin: auto;
}
@media screen and (max-width:1000px) {
    .about_engangment .left .box-1{
        right: 0;
        width: 50%;
    }
    .about_engangment .left .box2{
        width: 55%;
    }
    .about_engangment .left .box3{
        width: 60%;
    }
    .about_engangment .right .p1 {
       margin-top: 10px;
    }
}
    
@media screen and (max-width:850px){
    .about_engangment .left, .about_engangment .right{
        width: 100%;
    }
}
@media screen and (max-width:450px) {
    .about_engangment .left p{
        font-weight: 500;
        font-size: 16px;
    }
    .about_engangment .left ul img{
        width: 26px;
    }
    .about_engangment .left .img1{
        border-radius: 5px;
    }
    .about_engangment{
        padding: 20px 10px;
    }
    .about_engangment .left .box-1{
        border-radius: 5px;
        padding: 5px 8px;
        height: auto !important;
    }
}
