@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');
:root {
    --color1: #05716c;
    --color2: #1fbfb8;
    --color3: #1978a5;
    --background:rgb(253, 250, 250);
    --paragraphSize: 18px;
    /* --mainHeadingSize: ; */
    --fontFamily:'Catamaran', sans-serif;
    /* --paraColor:   ; */
    /* --headingColor:   ; */
    /* --padding:0px 0px 0px 0px; */
    /* --border-radius:0px; */  
    --box-shadow: rgb(193, 217, 217);
  }
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: var(--fontFamily);
}
.engangment{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap; 
    padding: 40px;
    background-color: var(--background);
    color: rgb(234, 234, 234);
}
.engangment img{
    width: 100%;
}
.engangment .img1{
    border-radius: 5px 80px;
    width: 70%;
    box-shadow: 5px 4px 10px 3px rgb(200, 214, 214);
   background-color: rgb(232, 221, 221);
}
.engangment .left{
    /* border: 1px solid red; */
    height: auto;
    width: 50%;
    position: relative;
}
.engangment .left .box1{
    height: auto;
    width: 40%;
    padding: 10px 20px;
    position: absolute;
    right: 0;
    top: 18%;
    border-radius: 20px 5px;
    box-shadow: 5px 4px 10px 3px rgb(200, 214, 214);
    background-color: rgb(249, 248, 248);
}
.engangment .left .box2{
    margin-top: 25%;
    width: 47%;
}
.engangment .left .box3{
    margin-top: 50%;
    width: 50%;
}
.engangment .left ul{
    display: flex;
    align-items: center;
}
.engangment .left ul img{
    width: 35px;
}
.engangment .right{
    height: auto;
    width: 50%;
    padding: 30px;
}
.engangment .left p{
    font-size: 20px;
    font-weight: 600;
    color: #202252;
    margin-left: 15px;
}
.engangment .right h1{
    color: #202252;
    font-size: 23px;
}
.engangment span{
    color:  rgb(245, 69, 69);
}
.engangment .right ul{
    display: flex;
    margin-top: 40px;
}
.engangment ul li{
    margin-right: 15px;
    color: rgb(37, 37, 37);
}
.engangment .p1{
    margin-top: 40px;
    color: rgb(35, 35, 35);
}
.engangment .p2{
    color: rgb(17, 17, 85);
    font-size: 20px;
}
.engangment .logo{
    width: 30px;
    height: auto;
    margin-top: 7px;
}