
.about{
  height: 500px;
  background-color: red;
 

}


.a_box1{
  height: 120px;
  border:1px solid var(--mainColor);
  border-radius: 3px;
 
}

.about_circle{
  height: 85px !important;
  width: 85px;
  margin: auto;
  margin-top: -22%;
  background-color: white;
  border-radius: 50%;
  border:1px solid var(--mainColor);
 
}
.about_h1{
  font-size: 28px;
  margin-top:5px;
  color: var(--mainColor);
}
.about_p{
  font-size: 18px;
  color: #414141;
}


.about_headings2{
  color: #505050;
  font-weight: 600;
  margin-bottom: 20px;

}
.about_rows_p2{
  color: #555555;
  /* font-size: var(--paragraphSize); */
  margin-top: -1%;
}
@media screen and (max-width:848px) {

  .about_p{
    font-size: 16px;
    margin-top: -5%;
  } 
}
@media screen and (max-width:748px){
  .about_circle{
    margin-top: -15%;
  }
  .about_p{
    margin-top: -1%;
  } 
}

@media screen and (max-width:573px){
  .about_circle{
    margin-top: -10%;
  }
}
@media screen and (max-width:404px){
  .about_circle{
    margin-top: -14%;
  }
}
@media screen and (max-width:310px){
  .about_circle{
    margin-top: -20%;
  }
}
@media screen and (max-width:250px){
  .about_circle{
    margin-top: -25%;
  }
}
