:root {
  --mainColor: #127A93;
  --color1: #0C5C97;
  --subColor: #FAD509;
  --paragraphSize: 18px;
  --fontFamily: 'Poppins', sans-serif;
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.about{
  height: 500px;
}
.a_box1{
  height: 120px;
  border:1px solid var(--mainColor);
  border-radius: 3px;
}
.about_circle{
  height: 85px !important;
  width: 85px;
  margin: auto;
  margin-top: -22%;
  background-color: white;
  border-radius: 50%;
  border:1px solid var(--mainColor);
}
.about_h1{
  font-size:var(--subH1);
  margin-top:5px;
  color: var(--mainColor);
}
.about_p{
  font-size: var(--simpleT);
  color: #414141;
}
.about_headings2{
  color: #505050;
  font-weight: 600;
}
.about_rows_p2{
  color: #555555;
  margin-top: -1%;
  margin-left:20px;
  font-size:17px;
}
.over{
  overflow:hidden;
}
.about_headings2{
  color:var(--mainColor);
  font-size:var(--subH1);
}
.dot-icon{
  margin-right:10px;
  margin-bottom:10px;
  color:var(--subColor);
}
.para{
  line-height:28px;
  font-size:var(--simpleT) !important;
}
.godot{
  color:var(--mainColor);
  margin-left:15px;
  font-size:18px;
}
.about_rows_p2 span{
  color:var(--mainColor);
  font-weight:bolder;
}
.another-p{
  margin-left:30px;
}
@media screen and (max-width:848px) {
  .about_p{
    font-size: 16px;
    margin-top: -5%;
  } 
}
@media screen and (max-width:748px){
  .about_circle{
    margin-top: -15%;
  }
  .about_p{
    margin-top: -1%;
  } 
}
@media screen and (max-width:573px){
  .about_circle{
    margin-top: -10%;
  }
}
@media screen and (max-width:404px){
  .about_circle{
    margin-top: -14%;
  }
}
@media screen and (max-width:310px){
  .about_circle{
    margin-top: -20%;
  }
}
@media screen and (max-width:250px){
  .about_circle{
    margin-top: -25%;
  }
}