.mainheader {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  position: fixed;
  top: 0%;
  z-index: 6;
  left: 50%;
transform: translate(-50% ,0%);
  box-shadow: var(--box-shadow);
}
.header_cont{
  border: 3px solid black;

}
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: var(--mainColor) !important;
}
/* ---------header element---------- */
header {
  height: 40px;
  background-color: var(--mainColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap !important;
}
.header_icondiv {
  width: 140px!important;
  font-size: 25px;
}
.header_sideDiv {
  background-color: var(--subColor);
  color: var(--mainColor);
  height: 100%;
  padding: 0px 50px 0px 50px;
}
.header_icon-outline{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border:2px solid var(--mainColor);
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_infodiv{
  font-size: 13px;
}
/* --------navbar element------------- */
nav {
  height: 65px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  border: none;
  box-shadow: none;
}
.nav_component-main{
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.nav_ul li {
  text-transform: capitalize;
  list-style: none;
}
.nav_logoDiv {
  width: 170px;
  color: var(--mainColor);
}
.nav_main{
  width: max-content;
}
.navbar-nav {
  border: none;
  border-radius: 20px;
position: absolute;
right: 50px;
}
.collapse{
  border: none!important;
}
.nav-link{
 color:var(--mainColor) !important;
 font-weight: 500; 
  margin-left:22px ;
}
@media (max-width:576px) {
  .nav_logoDiv{
    width: 140px;
  }
  .nav_ul li{
    font-size: 14px;
  }
  .header_icondiv{
    font-size: 13px;
  }
  .header_icon-outline{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border:2px solid var(--mainColor);
    font-size: 14px;

  }
}
@media (max-width:991px){
  .navbar-nav{
    width: 200px;
    padding:10px 20px;
    right: 38px;
    z-index: 5;
    top: 100%;
    color: white !important;
    box-shadow: 0px 5px 10px 4px rgba(0, 0, 0, 0.16);
    background-color: var(--mainColor);
  }
  .nav-link{
    color:white !important;
  }
  .nav-link:hover{
    color:yellow !important;
   
   }
}
@media (max-width:575px){
  header{
    height: 40px;
    /* padding-left:10px; */
  }
}
@media (max-width:370px) {
  .header_sideDiv {
    width: 100px !important;
    padding:0px!important;
  }
}