*{
    line-height: 21px;
}
.footer{
    font-size: 15px;
    line-height: 30px;
    padding: 30px 10px 20px 20px;
    box-sizing: border-box;
    color: white;
}
.footer_row1{
    padding:0px 100px;
}
.footer_card{
    width: 100%;
    padding: 20px 14px;
/* border: 1px solid red; */
border-radius: 20px;
box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.299);
}
.parasizesmall{
    font-size: 10px;
}
.footer_logo{
    width: 200px;
}
.footer_logo img{
    width: 100%;
    height: 100%;
}
.coloryellow{
    letter-spacing: 2px;
    color: var(--subColor);
}
.colorblue{
    background-color:rgb(2, 59, 82);
}
.parasize{
    font-size: 13px;
}
.footer_lineCol1{
    border-bottom: 1px solid white;
    width: 100%;
    margin-top: 20px;
}
.footer_icons-div{
    /* border: 2px solid red; */
    width: 180px;
    display:flex ;
    justify-content: space-around;
    align-items: center;
    height: max-content;
}
.footer_icon{
    width: 35px;
    height: 35px;
    background-color: var(--subColor);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--mainColor);
}
.footer_sec_2 , .footer_sec_3 , .footer_sec_4{
    padding:0px;
}
@media (max-width:700px) {
    .footer{
    padding: 30px 0px;
    }
    .footer_sec_2 , .footer_sec_3 , .footer_sec_4{
        padding: 0px;
    } 
}
@media (max-width:450px){
    .footer_row1{
        padding:0px 30px;
    }
}