.testimonial{
    /* border: 1px solid red; */
    height: auto;
    width: 100%;
    padding-bottom: 15px;
}
.testimonial .banner{
    height: 70vh;
    width: 100%;
    background-size: cover;
    color: white;
    background-image: linear-gradient(rgba(44, 47, 50, 0.8), rgb(50, 48, 44, .8)), url('./images/image-asset.jpeg');
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
}
.testimonial .textdiv{
    height: auto;
    width: max-content;
}
.testimonial .banner h1{
    font-size: var(--h1);
    font-weight: bolder;
    margin-top: 50px;
}
.testimonial .banner p{
    font-size: var(--simpleT);
}
.testimonial .testimon{
    width: 90%;
    height: auto;
    padding: 25px 15px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(246, 245, 245);
    border: 1px dotted rgb(219, 218, 218) ;

}
.testimonial img{
    width: 100%;
    /* height: 100%; */
}
.testimonial .left{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
}
.testimonial .right{
    width: calc(100% - 120px);
    height: auto;
    padding: 0 20px;
}
.testimonial .testimon .name{
    font-size: var(--subheading);
    font-weight: bold;
    margin: 15px 0;
}

.testimonial ul{
    padding: 0;
    display: flex;
    margin: 0 !important;
}
.testimonial ul li{
    margin: 0 3px;
    color:#FAD509;
}
.testimonial .testimon .black{
    color: grey;
}
.testimonial .right button{
    border: none;
    border-bottom: 1px solid;
    background-color: transparent;
    padding-bottom: 3px;
    font-size: 17px;
    margin-top: 15px;
}
@media screen and (max-width:1000px) {
    .testimonial .testimon{
        padding: 15px;
    }
    .testimon .left{
        width: 100px;
        height: 100px;
    }
    .testimonial .right {
        width: calc(100% - 100px);
    }
}
@media screen and (max-width:550px) {
    .testimonial .testimon{
        flex-direction: column;
        padding:  15px;
        margin: 15px 0;
        width: 100%;
    }
    .testimonial .testimon p{
        font-size: 13px;
    }
    .testimonial .banner h1{
        font-size: 35px;
    }
    .testimonial .banner p{
        font-size: 13px;
    }
    .testimonial .testimon .right{
        width: 100%;
        padding: 0;
        margin-top: 10px;
    }
}