.domain{
    height: auto;
    width: 100%;
    padding: 30px 60px ;
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 60px; */
    justify-content: space-between;
    align-items: center ;
    background-color:var(--background);
}
.domain .right{
    width: 60%;
    height: auto;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.domain .center{
    height: auto;
    width: 35%;
    padding: 30px 20px;
    /* background:linear-gradient(#f5f5f5,#fcf8f8); */
    border-radius: 10px ;
    box-shadow: 2px 5px 10px 3px var(--box-shadow);

}
.domain .center h1{
    font-size: 45px;
    color: #383a3e;
    margin: 0
}
.domain ul{
    margin-top: 20px;
}
.domain .center .p1{
    color: rgb(36, 35, 35);
}
.domain .center .p2{
    color: rgb(22, 21, 21);
    font-size: 18px;
    font-weight: lighter;
    margin-top: 20px;
    word-spacing: 7px;
}

.domain img{
    width: 70px;
}
.domain  .box{
    height: auto;
    width: calc(25% - 10px);
    padding: 20px 25px;
    border-radius: 8px 30px ;
    background-color: #F5DDDD;
    text-align: center;
    margin-top: 20px;
} 
.domain .box2{
    background-color: #FFEEC5;
}
.domain .box3{
    background-color: #C5FDF3;
}
.domain .box4{
    background-color: #D3EBFF;
}
.domain .box5{
    background-color: #EADAFF;
}
.domain .box6{
    background-color: #DDFFD6;
}
.domain .box7{
    background-color: #FFD4E2;
}
.domain .box8{
    background-color: #FFEEC5;
}
.domain .box9{
    background-color: #C5FDF3;
}
.domain .box10{
    background-color: #D3EBFF;
}
.domain .box11{
    background-color: #EADAFF;
}
.domain .box12{
    background-color: #FFEEC5;
}
@media screen and (max-width:1020px ) {
    .domain {
        padding: 30px;
    }
    
}
@media screen and (max-width:980px){
    .domain .center{
        width: 100%;
    }
    .domain .right{
        width: 100%;
    }
}
@media screen and (max-width:620px){
  .domain .right .box{
    width: calc(33.33% - 10px);
    padding: 12px 5px;
  }
}
@media screen and (max-width:420px){
    .domain{
        padding: 20px 10px;
    }
    .domain .right .box{
        width: calc(50% - 10px);
        padding: 8px 5px;
      }
}